@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Vendendo Peças Automotivas</h1>
    <p>Otimize suas vendas e mantenha um controle preciso de seu inventário exclusivamente <br />
       através do nosso portal dedicado aos vendedores de peças automotivas.</p>
    <div>
        <img src="img/pecas_automotivas.png"/></imgf>
    </div>
</div>
